* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #cecece;
  --med-light-gray: #b5b4b4;
  --dark-gray: #424242;
  --blue: #06649e;
  --blue-green: #008898;
  --dark-blue-green: #006680;
  --med-blue: #0d4192;
  --dark-blue: #19294e;
  --white: #ffffff;
  --border-radius: .25rem;
}

html, body {
  min-height: 100vh;
}

.body {
  background: var(--med-light-gray);
  padding: 0 1rem;
  margin: 0 auto 4rem;
  font-family: 'Nunito Sans', sans-serif;
}

footer {
  display: block;
  position: fixed;
  background: var(--light-gray);
  width: 100%;
  min-height: 2rem;
  left: 0;
  bottom: 0;
  padding: .75rem 1rem;
  z-index: 10;
}

.footer__inner-wrapper {
  display: flex;
  width: 100%;
  max-width: 1040px;
  font-size: .75rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: none;
}

ul {
  list-style: none;
}

input {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  display: inline-block;
  color: white;
  background: var(--blue-green);
  border: 1px solid var(--blue-green);
  border-radius: var(--border-radius);
  padding: .125rem .25rem;
  transition: all ease-in-out .1s;
  cursor: pointer;
}

button:hover {
  background: var(--dark-blue-green);
  border-color: var(--dark-blue-green);
}

/* --- Header --- */
.header {
  display: block;
  position: fixed;
  background: var(--dark-blue);
  width: 100%;
  padding: .5rem 1rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

.header__inner-wrapper {
  display: flex;
  color: var(--white);
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  text-shadow: none;
}

.title-logo-wrapper {
  display: flex;
  align-items: center;
}

.page-title {
  display: inline-block;
  font-size: 1.25rem;
}

.page-logo {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.page-logo > svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* --- Search Form--- */
.search-form-and-toggle-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.search-form {
  display: inline-flex;
  flex-direction: column;
  margin-right: 1rem;
}

.search-input-label {
  font-size: .85rem;
}

.input-btn-wrapper {
  display: flex;
}

.search-input {
  display: inline-block;
  margin-right: .25rem;
}

/* --- Temp Toggle --- */
.temp-unit-slider {
  cursor: pointer;
}

.temp-unit-slider__label {
  display: none;
}

.slider-options {
  display: inline-flex;
  position: relative;
  background: var(--light-gray);
  border-radius: 1rem;
  width: 54px;
  height: 22px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.slider-options:before {
  content: "";
  background: var(--blue-green);
  border: 1px solid var(--blue-green);
  border-radius: 100%;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  left: 0;
  right: unset;
  transition: all ease-in-out .1s;
  transform: translateX(0%);
}

.slider-options:hover:before {
  background: var(--dark-blue-green);
  border-color: var(--dark-blue-green);
}

.temp-unit__checkbox:checked ~ .slider-options:before {
  transform: translateX(145%);
}

.temp-unit {
  display: inline-block;
  color: var(--dark-gray);
  font-size: .85rem;
  text-align: center;
  transition: all ease-in-out .1s;
  z-index: 2;
}

.temp-unit.selected {
  color: white;
}

.temp-unit:first-of-type {
  padding-left: 4px;
}

.temp-unit:last-of-type {
  padding-right: 4px;
}

/* --- Page Placeholder --- */
.page-load-placeholder {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.page-load-placeholder__logo {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

/* --- Main --- */
.main {
  display: block;
  position: relative;
  margin-top: 6.5rem;
}

.main.loading:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.75rem;
  height: 2.75rem;
  border: 2px solid var(--light-gray);
  border-radius: 50%;
  border-top-color: var(--dark-gray);
  transition: all ease-in-out .1s;
  -webkit-animation: 1s linear infinite forwards loading-spin;
          animation: 1s linear infinite forwards loading-spin;
}

@-webkit-keyframes loading-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes loading-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

/* --- Current Weather --- */
.current-weather {
  display: none;
  position: relative;
  color: var(--white);
  min-height: 550px;
  margin: 0 auto;
  flex-direction: column;
  opacity: 0;
  overflow: auto;
  transition: opacity ease-in-out 1s;
}

.weather-bottom-wrapper {
  margin-top: 1rem;
}

.day-gray {
  background: linear-gradient(180deg, #49495a -10%, #5a708a 30%, #485d79 60%, #343f50 80%);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .35);
}

.night-gray {
  background: url("../weather-icons/stars.svg"), linear-gradient(180deg, #363644 -10%, #5a6a7d 30%, #46566b 60%, #2a3240 80%);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.day {
  background: linear-gradient(180deg, #154082 -10%, #0f7fa0 17%, #4392c1 40%, #428caf 62%, #227b96 70%, #125e84 85%);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .35);
}

.night {
  background: url("../weather-icons/stars.svg"), linear-gradient(180deg, #010125 -10%, #0d3352 23%, #053258 45%, #011b3a 65%, #041431 75%, #02091d 85%);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.current-weather__row, .current-weather__wrapper {
  display: flex;
}

.current-weather__row {
  justify-content: space-between;
  margin-bottom: .5rem;
}

.current-weather__row:last-of-type {
  margin-bottom: 0;
}

.current-weather__wrapper {
  flex-direction: column;
  flex: 1 1 0;
}

.city-state-wrapper {
  display: flex;
}

.current-weather__title {
  font-size: .75rem;
}

.current-weather__current-temp {
  text-align: center;
  font-size: 2.5rem;
}

.current-weather__temp-icon {
  flex-direction: column;
}

.current-weather__icon {
  max-width: 280px;
  margin: -2.75rem auto -2rem;
}

.current-weather__description {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --- 7-Day Forecast --- */
.daily-forecast-wrapper {
  display: block;
  width: 100%;
}

.daily-forecast__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.daily-forecast__row > .daily-forecast__date {
  margin-right: 0;
  min-width: 100px;
  max-width: 100px;
  flex: 2 2 0;
}

.daily-forecast__row .daily-forecast__icon {
  max-width: 48px;
  margin-right: .75rem;
}

/* --- Multiple Results --- */
.results {
  display: none;
  position: absolute;
  color: var(--dark-gray);
  background: rgba(255, 255, 255, .95);
  border: 1px solid var(--light-gray);
  border-radius: .95rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  left: 50%;
  top: 0;
  overflow-y: scroll;
  opacity: 0;
  text-shadow: none;
  transform: translateX(-50%);
  transition: all ease-in-out .1s;
  z-index: 20;
}

.results.fade-in .results__list {
  display: grid;
  grid-gap: .5rem 1rem;
}

.results__close-btn {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  left: 100%;
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.75rem;
  transform: translateX(-96%);
  transition: all ease-in-out .1s;
}

.results__msg {
  display: block;
  font-size: 1.125rem;
  margin-bottom: .5rem;
}

.results__result {
  display: inline-block;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all ease-in-out .1s;
}

.results__result:hover {
  border-bottom-color: var(--dark-gray);
  transform: translateX(.5rem);
}

.results__result.fade-in {
  display: inline-block;
}

/* --- Media Queries --- */
@media screen and (min-width: 350px) {
  .main {
    display: block;
    position: relative;
    margin-top: 4.75rem;
  }
  .current-weather {
    background: rgba(255, 255, 255, .0125);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 1rem;
    max-width: 350px;
    padding: 1rem;
  }
  .weather-bottom-wrapper {
    margin-top: 1rem;
  }
  .daily-forecast__date {
    max-width: 116px;
  }
  .daily-forecast__row {
    justify-content: flex-start;
  }
  .daily-forecast__row > * {
    margin-right: 1.5rem;
  }
  .daily-forecast__row > *:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 400px) {
  .footer__inner-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (max-width: 1069px) {
  .main {
    margin-top: .5rem;
  }
  .current-weather {
    max-width: 700px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .weather-top-wrapper {
    width: 100%;
  }
  .weather-middle-wrapper, .weather-bottom-wrapper {
    flex: 1 1 0;
    display: inline-flex;
    flex-direction: column;
    max-width: 50%;
  }
  .weather-middle-wrapper {
    margin-top: .9rem;
  }
  .weather-bottom-wrapper {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .body {
    margin-bottom: 2.5rem;
  }
  .main {
    margin: 5rem auto 0;
  }
  .results.fade-in .results__list {
    grid-template-columns: repeat(auto-fit, 32%);
  }
}
@media screen and (min-width: 1070px) {
  .body {
    margin-bottom: 0;
    min-height: unset;
  }
  .main {
    width: 100%;
    margin-top: 8rem;
  }
  .current-weather {
    background: rgba(255, 255, 255, .0125);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 1rem;
    max-width: 1040px;
    min-height: 370px;
    padding: 1rem;
    flex-direction: row;
    grid-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .weather-top-wrapper, .weather-middle-wrapper, .weather-bottom-wrapper {
    flex: 1 1 0;
  }
  .weather-top-wrapper {
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    order: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .weather-middle-wrapper {
    order: 1;
  }
  .weather-bottom-wrapper {
    order: 3;
    margin-top: 0;
  }
}

/* --- Utility Classes --- */
.fade-in {
  display: flex;
  -webkit-animation: .25s fade-in forwards;
          animation: .25s fade-in forwards;
}

.fade-out {
  -webkit-animation: .25s fade-out forwards;
          animation: .25s fade-out forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}